.main-portfolio {
	padding: 40px 0 60px 0;
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__text {
		margin: 0 0 36px 0;
		display: flex;
		align-items: flex-end;
	}
	&__bottom-text{
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 47px;
		line-height: 57px;
		font-weight: bold;
		margin: 0 40px 0 0;
	}
	&__description {
		font-size: 18px;
		line-height: 21px;
		max-width: 226px;
		padding: 0 0 5px 0;
	}
	&__button{
		display: none;
	}
}

.slider {
	&__wrapper {
		overflow: hidden;
		height: 465px;
		margin: 0 0 30px 0;
	}
	&__inner-wrapper {
		display: flex;
		height: 100%;
		transition: margin 0.4s;
	}
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-shrink: 0;
		&:nth-child(1){
			background-color: red;
		}
		&:nth-child(2){
			background-color: blue;
		}
		&:nth-child(3){
			background-color: green;
		}
	}
	&__control {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__prev {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		border: 2px solid #070707;
		transition: border 0.4s;
		cursor: pointer;
		svg{
			margin: 0 0 0 -3px;
			rect{
				transition: fill 0.4s;
			}
		}
		&[disabled]{
			border: 2px solid #E5E5E5;
			svg rect{
				fill: #E5E5E5
			}
		}
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__dot{
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		background: #E5E5E5;
		border-radius: 50%;
		margin: 0 7px 0 0;
		cursor: pointer;
		transition: background 0.4s;
		&:last-child{
			margin: 0;
		}
		&:hover,
		&:focus{
			background: #828282;
		}
		&_active{
			background: #070707;
		}
	}
	&__next {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		border: 2px solid #070707;
		transition: border 0.4s;
		cursor: pointer;
		svg{
			margin: 0 -3px 0 0;
			rect{
				transition: fill 0.4s;
			}
		}
		&[disabled]{
			border: 2px solid #E5E5E5;
			svg rect{
				fill: #E5E5E5
			}
		}
	}
}

.about {
	background: #F6F6F6;
	padding: 60px 0 0 0;
	&__content{
		// max-width: 578px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-weight: bold;
		font-size: 34px;
		line-height: 41px;
		margin: 0 0 50px 0;
		text-align: center;
	}
	&__texts{
		width: 578px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__text {
		font-size: 18px;
		line-height: 21px;
		max-width: 478px;
		padding: 15px;
		border: 3px solid #070707;
		margin: 0 0 42px 0;
		border-bottom: none;
		position: relative;
		&_r {
			align-self: flex-end;
			&::after{
				transform: rotateY(180deg);
			}
		}
		&:last-child{
			margin: 0 0 60px 0;
		}
		&::after{
			content: url(/static/images/bottom-border.svg);
			position: absolute;
			bottom: -27px;
			left: -3px;
		}
	}
}

.skills {
	padding: 60px 0;
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: bold;
		font-size: 34px;
		line-height: 41px;
		margin: 0 0 20px 0;
	}
	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 50px 0;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;
	}
	&__item {
		margin: 0 25px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		svg{
			margin: 0 0 20px 0;
		}
		h3{
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #828282;
			margin: 0 0 24px 0;
		}
		&:last-child{
			margin: 0;
		}
	}
	&__line {
		display: flex;
		align-items: center;
	}
	&__percent {
		font-weight: bold;
		font-size: 13px;
		line-height: 17px;
		color: #828282;
		margin: 0 12px 0 0;
	}
	&__back {
		width: 142px;
		height: 9px;
		background: #E5E5E5;
	}
	&__front {
		background: #070707;
		height: 9px;
		&_1 {
			width: 121px;
		}
		&_2 {
			width: 71px;
		}
		&_3 {
			width: 31px;
		}
		&_4 {
			width: 18px;
		}
		&_5 {
			width: 114px;
		}
	}
}

.swiper {
  height: 604px;
	width: 100%;
}

.swiper-button-prev {
	left: 30px;
	&::after{
		background-image: url(/static/images/arrow.svg);
		background-position: center;
		font-size: 0;
		width: 25px;
		height: 43px;
	}
}
.swiper-button-next {
	right: 30px;
	&::after{
		background-image: url(/static/images/arrow.svg);
		transform: rotate(180deg);
		background-position: center;
		font-size: 0;
		width: 25px;
		height: 43px;
	}
}

.portfolio {
	background: #F6F6F6;
	padding: 60px 0;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: bold;
		font-size: 34px;
		line-height: 41px;
		text-align: center;
		margin: 0 0 50px 0;
	}
	// &__slider {

	// }
	// &__wrapper {
	// }
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background: red;
	}
	// &__img {
	// }
	&__table {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 31px 0;
		background: rgba(7, 7, 7, 0.85);
		width: 100%;
	}
	&__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;
		margin: 0 0 16px 0;
		display: inline;
		// text-decoration: dashed underline;
		border-bottom: 1px dashed #FFFFFF;
		&:hover,
		&:focus{
			border-bottom: 1px solid #FFFFFF;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #FFFFFF;
		max-width: 400px;
	}
	// &__prev {
	// }
	// &__next {
	// }
}

@media(max-width: 1112px){
	.skills__item{
		margin: 0 25px 40px 0;
	}
}

@media(max-width: 900px){
	.skills{
		&__item{
			margin: 0 20px 40px 0;
			&:nth-child(4){
				margin: 0 0 40px 0;
			}
		}
		&__back{
			width: 109px;
		}
		&__front {
			&_1 {
				width: 93px;
			}
			&_2 {
				width: 54px;
			}
			&_3 {
				width: 22px;
			}
			&_4 {
				width: 12px;
			}
			&_5 {
				width: 87px;
			}
		}
	}
}

@media(max-width: 760px){
	.swiper-button-prev {
		left: 15px;
	}
	.swiper-button-next {
		right: 15px;
	}
	.skills{
		&__item{
			margin: 0 20px 40px 0;
			&:nth-child(4){
				margin: 0 20px 40px 0;
			}
		}
		&__back{
			width: 92px;
		}
		&__front {
			&_1 {
				width: 78px;
			}
			&_2 {
				width: 45px;
			}
			&_3 {
				width: 18px;
			}
			&_4 {
				width: 10px;
			}
			&_5 {
				width: 73px;
			}
		}
	}
}

@media(max-width: 620px){
	.header{
		display: none;
	}
	.main-portfolio{
		&__text{
			flex-direction: column;
			align-items: flex-start;
		}
		&__title{
			margin: 0 0 20px 0;
		}
		&__description{
			max-width: 205px;
			padding: 0;
		}
		&__bottom-text{
			width: 100%;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__button{
			display: block;
			padding: 11px 0 0 0;
		}
	}
	.about{
		&__texts{
			width: 278px;
			align-items: center;
		}
		&__text {
			max-width: 278px;
			margin: 0 0 42px 0;
			&_r {
				align-self: initial;
			}
			&::after{
				content: url(/static/images/bottom-border_s.svg);
			}
		}
	}
	.portfolio{
		&__link{
			max-width: 160px;
		}
		&__text{
			max-width: 250px;
		}
	}
}

@media(max-width: 350px){
	.skills__item{
		&:nth-child(2){
			margin: 0 0 40px -1px;
		}
		&:nth-child(4){
			margin: 0 0 40px 0;
		}
	}
}