.header {
	display: flex;
  align-items: center;
	justify-content: space-between;
	padding: 33px 0;
	border-bottom: 1px solid #828282;
	&__item {
		color: #828282;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		margin: 0 20px 0 0;
		cursor: pointer;
		transition: color 0.4s;
		&:hover,
		&:focus{
			color: #070707;
		}
		&:last-child{
			margin: 0;
		}
		&_h{
			margin: 0;
		}
		&_active{
			color: #070707;
		}
	}
	span{
		cursor: default;
	}
}

.menu-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #F5F4F4;
	z-index: 2;
	&__close {
		position: absolute;
		top: 50px;
		right: 13px;
	}
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 100%;
		padding: 0 20px 0 0;
	}
	&__link {
		font-size: 34px;
		line-height: 41px;
		font-weight: bold;
		color: #828282;
		margin: 0 0 40px 0;
	}
}

.menu-wrapper_close{
	display: none;
}