<div class="container">
	<footer class="footer">
		<h2 class="footer__title">Contacts</h2>
		<p class="footer__text">Want to know more or just chat? You are welcome!</p>
		<button type="button" class="footer__button">Send message</button>
		<div class="footer__line">
			<a href="#" class="footer__link">Instagram</a>
			<a href="#" class="footer__link">Vk</a>
			<a href="#" class="footer__link">Telegram</a>
			<!-- </div> -->
			<!-- <div class="footer__line"> -->
			<a href="#" class="footer__link">Mail</a>
			<a href="#" class="footer__link">GitHub</a>
			<a href="#" class="footer__link">Phone</a>
		</div>
		<div class="footer__design-text">
			<p class="footer__design">Design by</p>
			<a href="#" class="footer__design footer__design_decor">DL Academy</a>
		</div>
		<p class="footer__design">Program code from Antonina</p>
	</footer>
</div>